p {
    color: navy;
    text-indent: 30px;
    text-align: center;
  }

table {
    color:black;
    padding: 15px;
}

head{
    color: brown;
}

h1{
    margin-top: 20px;
    color: teal;
    text-align: center;
}

.img-thumbnail{
    margin-top: 40px;
    margin-left: 25%;
    margin-bottom: 40px;
}

